* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logBoxContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  flex-direction: column;
}
.logBox {
  width: 400px;
  height: 400px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.buttonBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.buttonBox button {
  width: 80px;
  height: 17px;
}
.boadrBox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board button {
  width: 65px;
  height: 17px;
  color: black;
}
